.avatar{
height: 400px;
width: 100%;
display: flex;
justify-content: center;
padding-top: 5.2em;
}
.header{
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  justify-content:center;
}
.h2{
  display: flex;
  justify-content: center;
}

